{{ define "main" }}
  <h1>{{ .Title }}</h1>
  <div class="lead">{{ .Content }}</div>

  <h2>Latest Articles</h2>
  <ul>
    {{ $arts := where .Site.RegularPages "Section" "articles" }}
    {{ range first 5 (sort $arts "Date" "desc") }}
      <li>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        <span class="post-date">（{{ .Date.Format "2006-01-02" }}）</span>
      </li>
    {{ end }}
  </ul>
  <p><a href="{{ "articles/" | relURL }}">すべての記事を見る</a></p>
<h2>Categories</h2>
<ul>
  {{ range $name, $term := .Site.Taxonomies.categories }}
    <li><a href="{{ (printf "/categories/%s/" $name) | relURL }}">{{ $name }} ({{ len $term.Pages }})</a></li>
  {{ end }}
</ul>
{{ end }}
